.article {
    width: 100%;
    color: #fff;
    background-color: #0a0a23;
}

.article h1 {
    text-align: center;
    font-weight: 900;
    margin: 1rem;
}

.image-container {
    width: 100%;
}
.image-container img {
    width: 90%;
    margin: 5% 5%;
    border: 1px solid #fff;
    border-radius: 10px;
}

.article p,
.article span {
    margin: 5% 5%;
    width: 90%;
    font-size: 20px;
}

.article span {
    font-size: 23px;
}

.article ol {
    margin: 5% 10%;
    width: 90%;
    font-size: 20px;
}

.article ol li {
    margin: 5% 0;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .image-container img {
        width: 100%;
        margin: 5% 0;
    }

    .article p,
    .article span {
        margin: 5% 2%;
        width: 96%;
        font-size: 18px;
    }

    .article span {
        font-size: 20px;
    }

    .article ol {
        margin: 5% 5%;
        width: 90%;
        font-size: 18px;
    }
}
